# Node
node_modules/
dist/
.eslintcache

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment / Secret
.env
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
